.form-body{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(Pics/form2.jpg);
    background-position: center;
    background-size: cover;
}
.form_background{
    background-color: white;
    width:80%;
    margin: auto;
    border-radius: 6px;
    padding:20px 5px;
    margin-top:40px;
    margin-bottom: 40px;
}
.loyal_legend{
    text-align: center;
    font-size: 1.25em;
    padding: 0 .25em;
    color:#999;
}
.loyal_fieldset{
    width:80%;
    margin:auto;
    padding:1em 2em;
    border:1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
}
/*Label styling*/
.loyal_fieldset label{
    display: block;
    margin-top: 2em;
}
/*label:first-of-type {
    margin-top: 0;
}*/

/*inputs styling*/
.loyal_fieldset input{
    padding: .5em;
    border:1px solid #999;
}
.loyal_fieldset input[type='email'], input[type='text'] {
    width:15em;
}

/*radio buttons and checkbox*/
.loyal_fieldset input[type="checkbox"] + label, input[type="radio"] + label{
    display: inline-block;
    padding-top: 0;
    margin-bottom: 0;
}
.loyal_fieldset input[type="radio"] {
    margin-left: 1.5em;
    margin-right: 0;
}


/*submit button*/

.sub {
    display: inline-block;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
}

.sub:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }


/*back buttom*/

.back{
    display: inline-block;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
    margin-right: 20px;
}

.back:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
.back a{
    text-decoration: none;
    color: white;
}