/*Configuring default settings for webpage*/
*{
    margin:0;
    padding:0;

}
/*adding fonts*/
@font-face {
    font-family: heading;
    src: url(Fonts/FjallaOne-Regular.ttf);
}
@font-face {
    font-family: para;
    src: url(Fonts/Jura-Light.ttf);
}
@font-face{
    font-family: footer_text;
    src:url(Fonts/OpenSans-Regular.ttf)
}

/*setting fonts*/
h1{
    font-family: heading;
    font-size:30px;
    color:rgba(255, 255, 255, 0.825);
    margin-left:30px;
}
p{
    font-family: para;
    font-size:25px;
    color:rgba(255, 255, 255, 0.825);
    margin-left:40px;
}

/*configuring of navigation panel*/
.nav{
    width:100%;
    height:125px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:rgba(0,0,0,.4);
    border-bottom:2px solid rgb(44, 43, 43);

}
.nav_logo{
    width:200px;
    height:75px;
    margin-left:15px;
    cursor:pointer;
}

.nav_content ul{
    display:flex;
    list-style-type:none;
    position:relative;
}
.nav_content a{
    position:relative;
    color:white;
    right:10px;
    text-decoration:none;
    padding:5px;
    margin:5px;
    font-family: para;
    font-size:18px;
    text-transform: uppercase;
    
}
.nav_content ul li a::after{
    content:'';
    height:3px;
    width:0;
    background-color: aqua;
    position: absolute;
    left:0;
    bottom:-5px;
    transition:0.25s;
}
.nav_content ul li a:hover:after{
    width:100%;
}

/*Adding the dropdown menu(pain)*/
.drop_trigger span{
    font-family: para;
    text-transform:uppercase;
    color:white;
}
.drop_content a{
    text-decoration:none;
    color:white;
    display:block;
    padding:10px;
    font-size: 15px;
    position: relative;
    left:2px;
    margin-left:0;
}
.drop_content{
    min-width:100%;
    display:none;
    position:absolute;
    top:35px;
    left:0px;
    z-index:1;
    background: rgb(40, 39, 39);
    box-shadow:0 8px 16px 0;
    
}
.drop_trigger{
    position: relative;
    top:-10px;
    left:-10px;
    cursor:pointer;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.drop_trigger:hover .drop_content{
    display:block;
}
.drop_content a:hover{
    background: rgba(255,255,255,.4);
    
}
.drop_trigger:hover{
    background: rgba(255, 255, 255,.4);
}

/*footer stylings*/
.foot_banner{
    width:100%;
    height:260px;
    background:rgb(22,22,74);
    margin-left:0px;
    
}
.foot_content{
    display:grid;
    display:flex;
    grid-template-columns:auto auto auto;
    justify-content: space-between;
    margin-left:0px;
}
.foot_logo{
    width:200px;
    height:75px;
}

.foot_content p{
    width:40%;
    font-size:15px;
    margin-left:0;
    font-family: footer_text;
}

/*social grid placement*/
.socials{
    display:grid;
    grid-template-columns: auto auto;
    /*border:2px solid rgb(255, 0, 0);*/
    gap:10px;
    margin-top:5px;
}
.socials img{
    width:30px;
    height:30px;
}
.socials a{
    text-decoration: none;
    color:white;
}
.img1{
    grid-row:1/2;
    grid-column:1/2 ;
}
.img2{
    grid-row:2/3;
    grid-column: 1/2;
}
.img3{
    grid-row:3/4;
    grid-column: 1/2;
}
.para1{
    grid-row: 1/2;
    grid-column: 2/3;
}
.para2{
    grid-row:2/3;
    grid-column:2/3;
}
.para3{
    grid-row:3/4;
    grid-column:2/3;
}
/*placing the address*/
.address{
    display:grid;
    grid-template-columns:20px auto;
    gap:10px;
    margin-top:15px;
    /*border:3px solid black;*/
}
.building{
    width:30px;
    height:50px;
    margin-left:20px;
}
.work{
    font-size:15px;
    font-family:footer_text ;
}
/*Placing the copyright message*/
.copyright{
    width:100%;
    height:45px;
    background-color: rgb(33, 33, 33);
}
.copyright p{
    font-size: 15px;
    position:relative;
    top:10px;
    text-align: center;
}